.navbar-brand{
    font-style: italic;
}
.navbar-nav{
    background-color: transparent;
    padding-left: 50px;
    font-size: small;
    color: white;
}
.md-form{
    padding-right: 100px;
   
    
}
.form-control{
    width: 350px;
}

.sign{
    margin-right: 20px;
    font-size: small;
    color: white;
}
.cart{
    margin-right: 100px;
    font-size: small;
}
.justify-content-center{
    margin-left: 300px;
}
.card{
    padding-right: 15px;
    background-color: white;
}


.card-img-top {
    width: 100%;
    height: 20uv;
    object-fit: cover;
}



.card-title{
    padding-left: 50px;
}
.btn {
    font-style: normal;
    border-radius: 20px;
}


/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */

@media (max-width: 991px) {
    .caption h1 {
      font-size: 3.5rem;
      letter-spacing: .2rem;
      padding-bottom: .8rem;
    }
    .caption h3 {
      font-size: 2.2rem;
      padding-bottom: 1.7rem;
    }
    .btn-lg {
      padding: .7rem 1.2rem;
      font-size: 1rem;
    }
    .narrow h1 {
      font-size: 2.1rem;
    }
    /*--- Drop-down Menu --*/
    .dropdown-submenu.solid, .dropdown-menu.show.solid {
      background: transparent!important;
    }
  }
  
  /* Devices under 768px (md) */
  
  @media (max-width: 767px) {
    .caption h1 {
      font-size: 2rem;
      letter-spacing: .1rem;
      padding-bottom: .5rem;
    }
    .caption h3 {
      font-size: 1.7rem;
      padding-bottom: 1.2rem;
    }
    .btn-lg {
      padding: .6rem 1.1rem;
      font-size: 1rem;
    }
    .narrow h1 {
      font-size: 1.8rem;
    }
    #fixed {
      background-image: url('img/fixed/apple-mobile.png');
    }
    #fixed-2 {
      background-image: url('img/fixed/office-mobile.png');
    }
    footer {
      background: url('img/footer/footer-mobile.png') no-repeat;
    }
    .graduates img {
      max-width: 50%;
      margin: 0 auto;
    }
    .top-scroll {
      display: none!important;
    }
  }
  
  /* Devices under 576px (sm) */
  
  @media (max-width: 575px) {
    .caption h1 {
      font-size: 1.9rem;
      letter-spacing: .1rem;
      padding-bottom: .4rem;
    }
    .caption h3 {
      font-size: 1.2rem;
      padding-bottom: 1rem;
    }
    .btn-lg {
      padding: .4rem .9rem;
      font-size: .9rem;
    }
    .narrow {
      width: 85%;
    }
  }
  